
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>一世计科 | @ViewBag.Title</title>
    <link href="~/Css/base.css" rel="stylesheet" />
    <link href="~/Css/common.css" rel="stylesheet" />
    <link href="~/Css/layout.css" rel="stylesheet" />
    <link href="~/layer/skin/layer.css" rel="stylesheet" />
</head>
<body>
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script src="~/layer/layer.js"></script>
    @RenderBody()
</body>
</html>
